# avoid version control files.
.git

# avoid temp and backup files.
*~
*#
*.bak
*.old
*.rej
*.swp
*.tmp

# avoid utility files
.build
_build

# avoid compiled gettext files
*.mo

# avoid archives of this distribution
Task-Dist-Zilla-*

